.circuitsPane .infoPane {
    -fx-border-color: -darkBlue;
    -fx-border-width: 2;
    -fx-font-size: 22;
    -fx-text-fill: BLACK;
}

.customGrid {
    -fx-hgap: 10;
    -fx-vgap: 10;
}

.customGrid .col0 {
    -fx-font-weight: BOLD;
}

.infoPane .subBox {
    -fx-padding: 10;
}

