.root {
    -fx-font-family: "Calibri";
    -fx-font-size: 18;
}

.centralPane {
    -fx-padding: 20;
    -fx-spacing: 40;
    -fx-background-color: #f2f2d9;
}

.simpleBorder { -fx-border-width: 1; -fx-border-color: BLACK }