.jfxBorderPane > .hbox {
    -fx-border-color: -darkBlue;
    -fx-alignment: CENTER;
}

.boxTop {
    -fx-pref-height: 55;
    -fx-font-family: "Tahoma";
    -fx-font-size: 22;
    -fx-font-weight: BOLD;
    -fx-border-width: 2 2 0 2;
}

.boxCenter {
    -fx-border-width: 2;
    -fx-padding: 10;
}
.boxBottom {
    -fx-border-width: 0 2 2 2;
}
.boxLeft {
    -fx-border-width: 2 0 2 2;
}
.boxRight {
    -fx-border-width: 2 2 2 0;
}
